/* VARIABLES */
:root {
  --first: #9c27b0;
  --firstTwo: #89119d;
  --second: #ffce00;
  --secondTwo: rgb(233, 187, 2);
  --white: #fff;
  --black: #000;

  --mainFont: "Staatliches", cursive;
}
/* STYLE FOR ALL DOCUMENT */
html {
  box-sizing: border-box;
  font-size: 62.5%; /*Agrego esto para igualar que un rem sea igual a 10px */
}
/* SNIPPET BOX MODEL */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/** Globales **/
body {
  background-color: var(--first);
  font-size: 1.6rem;
  line-height: 1.5; /*No le pongo pixeles para usar la base de la fuente */
}
.paragraph {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
}
.link {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
.title1,
.title2,
.title3 {
  text-align: center;
  color: var(--second);
  font-family: var(--mainFont);
}
.title1 {
  font-size: 4rem;
}
.title2 {
  font-size: 3.2rem;
}
.title3 {
  font-size: 2.4rem;
}
/** Header **/
.header {
  display: flex;
  justify-content: center;
}
.header__logo {
  margin: 3rem 0;
}
/** Footer **/
.footer {
  background-color: var(--firstTwo);
  padding: 1rem 0;
  margin-top: 2rem;
}
.footer__text {
  font-family: var(--mainFont);
  text-align: center;
  font-size: 2.2rem;
}

/** Navegacion **/
.nav {
  background-color: var(--firstTwo);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* With gap in flex I can make like I have right margin in nav__link */
}
.nav__link {
  text-decoration: none;
  font-family: var(--mainFont);
  color: var(--white);
  font-size: 3rem;
}
.nav__link--activ,
.nav__link:hover {
  color: var(--second);
}

/** Grid **/
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/** Products **/
.product {
  background-color: var(--firstTwo);
  padding: 1rem;
}
.product__image {
  width: 100%;
}
.product__name {
  font-size: 4rem;
}
.product__price {
  font-size: 2.8rem;
  color: var(--second);
}
.product__name,
.product__price {
  font-family: var(--mainFont);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}

/** Graficos **/
.graphic {
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 3;
}
.graphic--shirt {
  grid-row: 2 / 3;
  background-image: url(./images/grafico1.jpg);
}
.graphic--node {
  background-image: url(./images/grafico2.jpg);
  grid-row: 8 / 9;
}

@media (min-width: 768px) {
  .graphic--node {
    grid-row: 5 / 6;
    grid-column: 2 / 4;
  }
}

/** Nosotros **/
.we {
  display: grid;
  grid-template-rows: repeat(2, auto);
}
.containerWe {
  max-width: 120rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .we {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
.we__image {
  width: 100%;
  grid-row: 1 / 2;
}
@media (min-width: 768px) {
  .we__image {
    grid-column: 2 / 3;
  }
}

/** Bloques **/
.bloques {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .bloques {
    grid-template-columns: repeat(4, 1fr);
  }
}

.bloque {
  text-align: center;
}

.bloque__titulo {
  margin: 0;
}

/** Pagina del Producto **/
@media (min-width: 768px) {
  .shirt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.form__campo {
  border: 1rem solid var(--firstTwo);
  background-color: transparent;
  color: var(--white);
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  appearance: none;
}
.form__submit {
  background-color: var(--second);
  border: none;
  font-size: 2rem;
  font-family: var(--mainFont);
  padding: 2rem;
  transition: background-color 0.3s ease;
  grid-column: 1 / 3;
}
.form__submit:hover {
  cursor: pointer;
  background-color: var(--secondTwo);
}
