/* VARIABLES */
:root {
  --first: #9c27b0;
  --firstTwo: #89119d;
  --second: #ffce00;
  --secondTwo: rgb(233, 187, 2);
  --white: #fff;
  --black: #000;

  --mainFont: "Staatliches", cursive;
}
/* STYLE FOR ALL DOCUMENT */
html {
  box-sizing: border-box;
  font-size: 62.5%; /*Agrego esto para igualar que un rem sea igual a 10px */
}
/* SNIPPET BOX MODEL */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/** Globales **/
body {
  background-color: var(--primario);
  font-size: 1.6rem;
  line-height: 1.5; /*No le pongo pixeles para usar la base de la fuente */
}
.paragraph {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
}
.link {
  text-decoration: none;
}
.image {
  width: 100%;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.title1,
.title2,
.title3 {
  text-align: center;
  color: var(--second);
  font-family: var(--mainFont);
}
.title1 {
  font-size: 4rem;
}
.title2 {
  font-size: 3.2rem;
}
.title3 {
  font-size: 2.4rem;
}
/** Header **/
.header {
  display: flex;
  justify-content: center;
}
.header__logo {
  margin: 3rem 0;
}
/** Footer **/
.footer {
  background-color: var(--firstTwo);
  padding: 1rem 0;
  margin-top: 2rem;
}
.footer__text {
  font-family: var(--mainFont);
  text-align: center;
  font-size: 2.2rem;
}

/** Navegacion **/
.nav {
  background-color: var(--firstTwo);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.nav__link {
  text-decoration: none;
  font-family: var(--mainFont);
  color: var(--white);
  font-size: 3rem;
  /* With gap in flex I can make like I have right margin in nav__link */
}
.navegacion____link--activ,
.navegacion__link:hover {
  color: var(--second);
}
